tsmc13_neg.v
tsmc13.v
.synopsys_dc.setup
synopsys_dc.setup
report.000
command.log
INCA_libs/
INCA_libs
ncverilog.*
novas_dump.log
*.X
*.svf
*.pdf
verdiLog
verdiLog/
nWaveLog
nWaveLog/
simv.daidir
simv.daidir/
csrc
csrc/
simv
ucli.key
*/sim/*.log
apr*
*.vcd
